<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/WSFrontends/assets/plugin/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="/WSFrontends/assets/plugin/node_modules/@eonasdan/tempus-dominus/dist/css/tempus-dominus.min.css">
  <link rel="stylesheet" href="/WSFrontends/assets/plugin/node_modules/bootstrap-icons/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/WSFrontends/assets/plugin/node_modules/swiper/swiper-bundle.min.css">

  <link rel="stylesheet" href="/WSFrontends/assets/2_css/test.css">
</head>

<body>
  <button type="button" class="btn btn-primary" id="checkSchedule">排班检查</button>

  <!-- 检查排班对话框 -->
  <div class="modal fade" id="checkScheduleModal" tabindex="-1" aria-labelledby="checkScheduleLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="checkScheduleLabel">核对本月排班</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div id="checkScheduleContent" class="modal-body">
          <div class="table-container m-auto mt-3 table-responsive">
            <table class="schedule-table m-auto table table-bordered">
              <thead>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>

        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/WSFrontends/assets/plugin/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
  <script src="/WSFrontends/assets/plugin/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
  <script src="/WSFrontends/assets/plugin/node_modules/@eonasdan/tempus-dominus/dist/js/tempus-dominus.min.js"></script>
  <script src="/WSFrontends/assets/plugin/node_modules/swiper/swiper-bundle.min.js"></script>
  <script src="/WSFrontends/assets/plugin/node_modules/dayjs/dayjs.min.js"></script>
  <script src="/WSFrontends/assets/plugin/node_modules/dayjs/plugin/isoWeek.js"></script>
  <script src="/WSFrontends/assets/plugin/node_modules/dayjs/plugin/localeData.js"></script>
  <script src="/WSFrontends/assets/plugin/node_modules/dayjs/locale/zh-cn.js"></script>

  <script src="/WSFrontends/assets/4_js/test.js"></script>
</body>

</html>