#paiban-content-all {
  .nav-link {
    color: var(--bs-body-color);

    &.active {
      color: var(--bs-primary);
    }
  }

  .table-container {
    width: 90%;
    height: 70vh;
    overflow: auto;
    z-index: 0;

    .paiban-table {
      table-layout: fixed;
      border-collapse: separate; // 重要：使用 separate 而不是 collapse
      border-spacing: 2px;

      thead tr th {
        &:first-child {
          line-height: 48px;

          // 固定左上角单元格
          left: 0;
          z-index: 3;
          background-color: var(--bs-success);

          border-right: 1px solid #ddd; // 添加右边框
          border-bottom: 1px solid #ddd; // 添加下边框
          box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); // 添加阴影效果
        }

        position: sticky;
        top: 0;
        z-index: 1;
        background-color: var(--bs-primary-bg-subtle);

        text-align: center;
        width: 66px;
        height: 62px;

        border-bottom: 1px solid #ddd; // 添加下边框
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // 添加阴影效果
      }

      tbody tr td {
        &:first-child {
          position: sticky;
          left: 0;
          z-index: 2;
          background-color: var(--bs-primary-bg-subtle);

          border-right: 1px solid #ddd; // 添加右边框
          box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); // 添加阴影效果
        }

        text-align: center;
        width: 66px;
        height: 48px;
        vertical-align: middle;
      }

      .clickable-paiban-cell {
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--bs-warning);
        }
      }

      .configure-days-cell {
        position: absolute;
        top: 2px;
        left: 0;
        font-size: 11px;

        cursor: pointer;
        color: var(--bs-emphasis-color);

        &.configured {
          color: var(--bs-danger);
        }
      }

      .special-days {
        position: absolute;
        top: 2px;
        left: 52px;
        font-size: 11px;

        color: mediumvioletred;
        background-color: #f9c428;
      }
    }
  }
}

#paibanModal {
  .dropdown-menu-scrollable {
    max-height: 400px;
    overflow-y: auto;
  }
}

