.avatar-option {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.2s ease;
  padding: 2px;
}
.avatar-option:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.avatar-option.selected {
  border-color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 0.1);
  transform: scale(1.05);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.custom-alert {
  position: fixed;
  top: 20px;
  right: 20px;
  max-width: 350px;
  z-index: 9999;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: translateX(400px);
  transition: transform 0.3s ease-in-out;
}
.custom-alert.show {
  transform: translateX(0);
}

.alert-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 9999;
}

.tempus-dominus-widget {
  top: var(--td-top) !important;
  left: var(--td-left) !important;
  transform: none !important;
}
.tempus-dominus-widget.light {
  background-color: #fdfcfb;
  color: #242222;
}
.tempus-dominus-widget .tempus-dominus-widget.dark {
  background-color: #1b1b1b;
  color: #e5dada;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1260px;
  }
}
